* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root{
    --cream-color: #EFECDF;
    /* --rose-color: #E088A1;
    --blue-accent: #86A7F6;
    --green-color: #3E5938; */
    --black-color: #272D2D;
    --one-color: #EFECDF;
    --green-color: #4DAF52;
    --light-green: rgb(100, 197, 105);
    --three-color: #FFE700;
    --four-color: #FCC0E5;
    --five-color: #FD4EBB;
    --six-color: #C3D2FA;
}

body{
  font-family: 'Source Sans 3', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  background: var(--cream-color);
  overflow-x: hidden;
  color: var(--black-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', sans-serif;
}


a {
  text-decoration: none;
  color: var(--black-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Navbar Section */
.navbar {
    font-size: 32px;
    position: sticky;
    top: 0;
    background-color: var(--cream-color);
    z-index: 100;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container .logo{
    max-width: 150px;
    max-height: 150px;
}

.navbar .main-menu ul{
    display: flex;
    font-family: 'Cormorant Garamond', sans-serif;
}

.navbar ul li a {
    padding: 0 2.5em;
    display: block;
    transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--green-color);
}

/* Hero Section */

.hero {
  margin-bottom: 50px;
}

.hero img {
  width: 100%;
}

.hero .container{
  background: radial-gradient(farthest corner at );
}

/* Main Content Section */

.main-content {
  margin-bottom: 50px;
}

.main-content .word-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 15 / 3;
  border-style: solid none;
  border-color: var(--black-color);
}
.main-content .word-box .box{
  background-color: var(--green-color);
  color: var(--cream-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tile Option Section */
.main-content .tile-container{
  /* width: 100%; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 100px 50px 100px;
  margin-bottom: 50px;
}

.tile{
  margin: 100px auto 0;
  width: 600px;
  height: 600px;
  perspective: 1000px;
}

.tile_inner{
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

/* .tile_inner.is-flipped{
  transform: rotateY(180deg);
} */

.tile_inner:hover{
  transform: rotateY(180deg);
}

.tile_face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, .2);
}

.tile_face-front {
  background-image: linear-gradient(to bottom right, var(--six-color), var(--three-color));
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile_face-front h2{
  color: var(--black-color);
  font-size: 32px;
}

.tile_face-back {
  background-color: var(--black-color);
  transform: rotateY(180deg);
  padding: 15px;
}

.tile_content{
  width: 100%;
  height: 100%;
  color: var(--cream-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Circle option section */

.circle-container {
  padding: 15px;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row: auto;
  gap: 10px;
  row-gap: 20px;
}

.circle {
  width: 400px;
  height: 400px;
  background-color: var(--three-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green-color);
}

/* .circle .heading{
  font-size: 32px;
} */

.circle-info {
  margin-top: 10px;
}

/* Vertical Option Section */
.main-content .bg-drk {
  background-color: var(--green-color);
}

.main-content .bg-light {
  background-color: var(--light-green);
}

.main-content .vertical .block{
  /* background-color: var(--two-color); */
  padding: 15px;
  margin: auto;
  width: 80%;
}

.main-content .vertical .block .row{
  display: flex;
  flex-wrap: wrap;
}

.main-content .vertical .block .row .name{
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-box-flex: 0;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  /* position: relative; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.main-content .vertical .block .row .info{
  -webkit-box-flex: 0;
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
  /* position: relative; */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


/* About Section*/

.about {
  margin-bottom: 50px;
  width: 100%;
}

.about .container{
  width: 80%;
  margin: auto;
}

.about .row {
  width:60%;
  margin: auto;
}

.about .row .title{
  text-align: center;
}

.about .row .title h1{
  font-size: 45px;
  letter-spacing: 1.5px;
}

.about .team-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 50px;
  /* background-color: var(--black-color);
  padding: 1rem  2rem 1rem 2rem;
  gap: 1rem;
  width: auto;
  height: auto; */
}

.about .team-box .team-member{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* background-color: var(--two-color); */
}

.about .team-box .team-member .image-section img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.about .team-box .team-member .content{
  width: 100%;
  text-align: center;
}

.about .team-box .team-member .content h3{
  font-size: 35px;
  margin-top: 10px;
  letter-spacing: 1px;
}

.about .team-box .team-member .content h4{
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
}

.about .team-box .team-member .content p{
  font-size: 15px;
  margin-top: 16px 0px;
  line-height: 1.5;
}

/* Clients Section */
.clients{
  margin-bottom: 50px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.clients .client-box{
  background-color: var(--six-color);
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.clients .client-box::before, .client-box::after{
  position: absolute;
  top: 0;
  width:250px;
  height: 100%;
  content:"";
  z-index: 2;
}

.clients .client-box::before{
  left: 0;
  background: linear-gradient(to left,transparent,var(--cream-color));
}

.clients .client-box::after{
  right: 0;
  background: linear-gradient(to right,transparent,var(--cream-color));
}

.clients .client-box:hover .client {
  animation-play-state: paused;
}

.clients .client-box .client{
  display: inline-block;
  animation: 35s slide infinite linear;
}

.clients .client-box .client img{
  display: inline-block;
  max-width: none;
  height: 50px;
  margin: 0 40px;
}

.clients .client-box .client p {
  display: inline-block;
  max-width: none;
  margin: 0 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: larger;
  /* font-family: 'Cormorant Garamond', sans-serif; */
}


/* Testimony Section */

.testimony{
  margin-bottom: 50px;
  padding: 0 15em;
}

.testimony .carousel{
  position: relative;
  margin: auto;
  anchor-name: --carousel;
}

.testimony .carousel .card{
  display: none;
  /* flex: 0 0 100%; */
  aspect-ratio: 10 / 3;
  background-color: var(--four-color);
  /* padding: 1em; */
  border-radius: .5em;
  text-align: center;
  align-content: center;
}

.prev, .next {
  width: auto;
  padding: 16px;
  color: var(--five-color);
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: left center;
  right: 20px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  left: 20px;
  position-area: right center;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--four-color);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--four-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--five-color);
}

/* .testimony .carousel {
  width: 100%;
  overflow-x: auto;
  margin: 3em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
}

.testimony .carousel::scroll-marker-group {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.testimony .carousel .card::scroll-marker {
  content: "";
  height: 1em;
  width: 1em;
  background-color: var(--cream-color);
  border-radius: 50%;
}
.testimony .carousel .card::scroll-marker:target-current {
  background-color: var(--cream-color );
  opacity: 50%;
}



.testimony .carousel::-webkit-scrollbar{
  display: none;
}

.testimony .carousel::scroll-button(right) , .carousel::scroll-button(left){
  content: '→';
  border: none;
  background-color: var(--cream-color);
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 3rem;
  color: var(--black-color);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: .1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: 25%;
}

.testimony .carousel::scroll-button(left){
  content: "←";
  position-area: left center;
  translate: -25%;
}

.testimony .carousel::scroll-button(right):disabled , .carousel::scroll-button(left):disabled{
  opacity: .5;
  cursor: auto;
}

.testimony .carousel .card{
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex: 0 0 100%;
  aspect-ratio: 10 / 3;
  background-color: var(--four-color);
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  align-content: center;
} */

/* Footer */
.footer {
    padding: 20px 0 30px  0;
    background-color: var(--three-color);
    color: var(--black-color);
}

.footer h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    /* color: var(--cream-color); */
}

.footer ul li {
    line-height: 2.5;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer .footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

.footer .footer-grid .logo{
  max-width: 100%;
  max-height: 70%;
}

.footer .card {
    margin: 20px 30px 30px 0;
}

.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}

/* Text */

.text-center {
  text-align: center;
}